<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jimin{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="https://kit.fontawesome.com/2271afb610.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="header">
    <div class="container">
        <nav>
            <p class="logo">jimin | profile</p>
            <ul id="sidemenu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <i class="fas fa-circle-xmark" onclick="closemenu()"></i>
            </ul>
            <i class="fas fa-bars" onclick="openmenu()"></i>
        </nav>
        <div class="header-text">
            <p>Backend Developer</p>
            <h1>Hi, I'm <span>Jimin</span><br>Kang From Korea</h1>
        </div>
    </div>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
<!-- --------------- sidemenu for small screens------------------- -->
<script>
    const sidemeu = document.getElementById("sidemenu");

    function openmenu(){
        sidemeu.style.right = "0";
    }
    function closemenu(){
        sidemeu.style.right = "-200px";
    }
</script>
</body>
</html>