{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<style>
    .contact-left{
        flex-basis: 35%;
        line-height: 1.8;
    }
    .contact-right{
        flex-basis: 60%;
    }
    .contact-left a {
        margin-top: 20px;
        margin-right: 10px;
        text-decoration: none;
        display: inline-block;
        color: #433e49;
        transition: transform 0.5s;
    }
    .social-icons a:hover{
        color: #DBC1AD;
        transform: translateY(-5px);
    }
    .btn.btn2{
        display: inline-block;
        background: #928490;
        color: #f4f3f2;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #928490;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        font-weight: bold;
        transition: background 0.5s, color 0.5s;
    }
    .contact-right form{
        width: 100%;
    }
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background: #F3E8EB80;
        padding: 15px;
        margin: 15px 0;
        color: #433e49;
        font-size: 18px;
        border-radius: 6px;
    }

    form .btn2{
        padding: 14px 60px;
        font-size: 18px;
        margin-top: 20px;
        cursor: pointer;
    }
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .sub-title{
        font-size: 60px;
        color: #433e49
    }
/*----------------- css for small screens --------------------*/
@media only screen and (max-width: 600px) {
    .sub-title{
        font-size: 40px;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
}
</style>

<div class="contact">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-regular fa-envelope"></i> k.jimin2002@gmail.com</p>
<!--                <p><i class="fa-solid fa-mobile-screen"></i> +82 </p>-->
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
                    <a href="https://github.com/ji-min0"><i class="fa-brands fa-github"></i>github</a>
                    <a href="https://hello-dev-world.tistory.com/"><i class="fa-solid fa-book"></i>tistory</a>
                </div>
                <a href="/static/images/my-cv.pdf" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form action="/contact" method="post">
                    <br><br>
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
            </div>
        {% if result %}
        <div class="alert alert-info mt-3">{{ result }}</div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}