{% extends "base.html" %}

{% block title %}Projects - Jimin{% endblock %}

{% block content %}
<style>
    #projects{
        padding: 50px 0;
    }
    .sub-title{
        font-size: 60px;
        color: #433e49
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .work img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.6), #928490);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        transition: height 0.5s;
    }
    .layer h3{
        color: #f4f3f2;
        font-weight: 500;
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .layer p{
        color: #f4f3f2;
    }
    .layer a{
        margin-top: 20px;
        color: #928490;
        text-decoration: none;
        font-size: 18px;
        line-height: 50px;
        background: #f4f3f2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
    }
    .work:hover img{
        transform: scale(1.1);
    }
    .work:hover .layer{
        height: 100%;
    }
    .btn.btn1{
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #928490;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        font-weight: bold;
        color: #928490;
        transition: background 0.5s, color 0.5s;
    }
    .btn1:hover{
        background: #928490;
        color: #f4f3f2;
    }
</style>
<div id="projects">
    <div class="container">
        <h1 class="sub-title">My Projects</h1><br>
        <div class="work-list">
            {% for project in projects %}
            <div class="work">
                <img src="{{ project.image }}" alt="{{ project.title }}">
                <div class="layer">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.desc }}</p>
                    <!-- 프로젝트 만들면 깃허브 레포 주소 넣을 예정-->
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="https://github.com/ji-min0?tab=repositories" class="btn btn1">See more<i class="fa-brands fa-github"></i></a>
    </div>
</div>
{% endblock %}